<%- include('partials/head.ejs') %>

    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" />
			<button>Send</button>
    </form>

	  <input type="radio" name="color" value="blue"> Blue
	  <input type="radio" name="color" value="red"> Red
	  <input type="radio" name="color" value="green"> Green

		 <div id="map"></div>

		<!-- Socket.io -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/socket.js"></script>

		<!-- Google Maps -->
		<script src="js/map.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRSXNvWyRSAvxzBkfVlE2aOpf1IYf-AA&callback=initMap"></script>


<%- include('partials/foot.ejs') %>
