<%- include('partials/head.ejs') %>
    <ul id="messages"></ul>
		<div id="map" style="display: none;"></div>

    <form action="">
			<input placeholder="username" class="username" type="text" maxlength="14" />
      <input placeholder="message" id="m" autocomplete="off" />
			<button>Send</button>
    </form>

		<section>
			<div>
				<input id="gold" type="radio" name="color" value="gold">
				<label for="gold">Gold</label>
			</div>
			<div>
				<input id="crimson" type="radio" name="color" value="crimson">
				<label for="crimson">Crimson</label>
			</div>
			<div>
				<input id="coral" type="radio" name="color" value="coral">
				<label for="coral">Coral</label>
			</div>
			<div>
				<input id="darkSeaGreen" type="radio" name="color" value="darkSeaGreen ">
				<label for="darkSeaGreen">DarkSeaGreen</label>
			</div>


	</section>

		<!-- Socket.io -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/socket.js"></script>

		<!-- Google Maps -->
		<script src="js/map.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgRSXNvWyRSAvxzBkfVlE2aOpf1IYf-AA&callback=initMap"></script>

<%- include('partials/foot.ejs') %>
